* {
    overflow: hidden;
}


canvas {
    border: 1px solid black;
    background-color: gray;
}

#score {
    position: relative;
    bottom: 425px;
    width: 80px;
    height: 100px;
    left: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;

}

#easy {
    position: relative;
    border: 1px solid black;
    width: 500px;
    height: 100px;
    bottom: 1000px;
    left: 400px;

}


#med {
    position: relative;
    border: 1px solid black;
    width: 500px;
    height: 100px;
    bottom: 1000px;
    left: 400px;

}


#hard {
    position: relative;
    border: 1px solid black;
    width: 500px;
    height: 100px;
    bottom: 1000px;
    left: 400px;

}

#heading {
    position: relative;
    border: 1px solif black;
    bottom: 1050px;
    left: 450px;
    font-family: sans-serif;
}

#scorepre {
    position: relative;
    bottom: 550px;
    left: 420px;
    font-family: sans-serif;
    font-size: x-large;

}